{% extends 'base.html' %}
{% block titulo %}Eliminar Sucursal | Tienda de Videojuegos{% endblock %}

{% block contenido %}
<h2>¿Estás seguro de que quieres borrar la sucursal "{{ sucursal.direccion }}"?</h2>
<p>Esta acción no se puede deshacer y borrará a todos sus empleados asociados.</p>

<form method="post">
    {% csrf_token %}
    <div class="actions">
        <button type="submit" class="btn btn-danger">Sí, Borrar</button>
        <a href="{% url 'app_videojuegos:detalle_sucursal' sucursal.id %}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}