{% extends 'base.html' %}
{% block titulo %}{{ titulo }} | Tienda de Videojuegos{% endblock %}

{% block contenido %}
<h2>{{ titulo }}</h2>
<form method="post" enctype="multipart/form-data" class="form-styled">
    {% csrf_token %}
    
    {{ form.as_p }}

    <hr>
    <h2>Empleados</h2>

    {{ formset.management_form }}
    {% for form in formset %}
    <div class="formset-row">
        {{ form.as_p }}
    </div>
    {% endfor %}

    <div class="actions">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'app_videojuegos:listar_sucursales' %}" class="btn">Cancelar</a>
    </div>
</form>
{% endblock %}